RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#don't redirect double-underscore dirs (symbolic links)
RewriteCond %{REQUEST_URI} !ptn
RewriteCond %{REQUEST_URI} !pic
# prevent loop
RewriteCond %{REQUEST_URI} !index\.php
RewriteRule ^(.*)$ /index.php?/$1 [L]













